a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
.contact-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0 40px 0;
}
.contact-image {
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .contact-image {
    margin-top: 0;
  }
  .contact-card {
    margin-top: 10px;
  }
}
